{
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": ["eslint:recommended", "prettier"]
}
